
<navbar></navbar>
<div *ngFor="let order of orders" class="order-card">
  <h3>Order #{{ order.orderId }}</h3>
  <p>Total: ${{ order.total }}</p>
  <p>Status: {{ order.status }}</p>
  <p>Payment Method: {{ order.paymentMethod }}</p>
  <p>Date: {{ order.date | date:'medium' }}</p>

  <button (click)="viewOrder(order)">
    {{ order.showDetails ? 'Hide Details' : 'View Details' }}
  </button>

  <div *ngIf="order.showDetails" class="order-details">
  
   <!-- <h4>Items</h4>
    <div *ngIf="order.orderItems.length > 0; else noItems">
      <div *ngFor="let item of order.orderItems">
        <p>{{ item.product?.name }} - Qty: {{ item.quantity }} - ${{ item.price }}</p>
      </div>
    </div>
    <ng-template #noItems><p>No items in this order</p></ng-template>
    -->
  
    <h4>Shipping</h4>
    <div *ngIf="order.shippings.length > 0; else noShipping">
      <div *ngFor="let ship of order.shippings">  
        <p>Country: {{ship.shippingAddress.country}}</p>
        <p>City: {{ ship.shippingAddress.city }}</p>
        <p>Method: {{ ship.method}}</p>
        <p>Cost: {{ ship.cost }}</p>
      </div>
    </div>
    <ng-template #noShipping><p>No shipping info</p></ng-template>

    
    <h4>Transactions</h4>
    <div *ngIf="order.transactions.length > 0; else noTransactions">
      <div *ngFor="let t of order.transactions">
        <p>Status: {{ t.payment_status }}</p>
        <p>Method: {{ t.method }}</p>
        <p>Amount: ${{ t.amount }}</p>
        <p>Date: {{ t.payment_date | date:'medium' }}</p>
      </div>
    </div>
    <ng-template #noTransactions><p>No transactions</p></ng-template>
  </div>
</div>
