<navbar></navbar>
<app-category></app-category>

<div class="product-grid">
  <div class="product-card" *ngFor="let product of products" (click)="openModal(product)">
    <img [src]="product.image" alt="{{ product.name }}" class="product-image" />
    <p class="product-name">{{ product.name }}</p> 
    <div class="product-info">
      <ng-container *ngIf="product.discountedPrice; else normalPrice">
        <p class="product-price">
          <span class="new-price">${{ product.discountedPrice }}</span> 
          <span class="old-price">${{ product.price }}</span>
        </p>
      </ng-container>
      <ng-template #normalPrice>
        <p class="product-price">${{ product.price }}</p>
      </ng-template>
      <div class="cart-icon">
        <i class="fa-solid fa-cart-plus"></i>
      </div>
    </div>
  </div>
</div>


<app-product-modal 
  [product]="selectedProduct" 
  [visible]="showModal" 
  (close)="closeModal()">
</app-product-modal>
